.loader {
    z-index: 9999;
    background-color: $white;
    opacity: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    animation : bg 3s ease forwards;
    &__anim {
        border-top: 10px solid $pink;
        border-right: 10px solid $minth;
        border-bottom: 10px solid $purple;
        border-left: 10px solid $minth;
        border-radius: 50%;
        display: block;
        width: 100px;
        height: 100px;
        z-index: 1;
        opacity: 1;
        position: absolute;
        top: 45%;
        right: 46%;
        animation: spin 3s ease forwards;
        @media (max-width: 400px) {
            top: 50%;
            right: 35%;
        }
    }
}

@keyframes bg {
    0% {
        opacity: 1;
        width: 100%}
    20% {opacity: 0.7;
    }
    95% {
        width:100%;
        opacity: 0;
    }
    100% {opacity: 0;
    width: 0;}        
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;}
    33% {
        transform: rotate(-360deg)}
    66% {
        opacity: 1;
        transform: rotate(720deg)}
    95% {opacity: 0;}
    100% {
        ;
        opacity: 0;
        }
}